#grid{
    display:grid;
    grid-template-columns: 150px 1fr; 
    /*NAVIGATION과 ARTICLE이 컬럼형식의 그리드가 되었고,
    NAVI가 150px쓰고 나머지는 ARTICLE이 쓴다는 의미*/
}
#active{
    color: red;
}
.saw{
    color: gray;
}
a {
    color:black;
    text-decoration: none;
}
h1{
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid black;
    margin: 0;
    padding: 20px
}
ol{
    border-right:1px solid black;
    margin: 0;
    padding-left: 35px;
    padding-top: 20px;
}
body{
    margin: 0;
}
#grid #article{
    padding-left: 25px;
}
@media(max-width:800px){
    #grid{
    display:block;
    grid-template-columns: 150px 1fr; 
        }
    #grid ol{
        border-right:none;
    }
    h1{
        border-bottom:none;
    }
}